@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Poppins', sans-serif;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #575757 transparent;
}
.custom-scrollbar:hover {
    scrollbar-color: #959595 transparent;
}
  